body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgb(248, 117, 117);*/
    background-color: lightblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

header, main, footer {
    background-color: white;
    border-radius: 5px;
    width: 70%;
    min-width: 625px;
    padding: 5px;
    margin: 10px auto;
    box-shadow: 1px 1px 5px #333;
    text-align: center;
}

main{
    margin-bottom: 60px; 
    padding: 3% 0 6%;  
}

#conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
    margin: 0;
    box-sizing: border-box;
}

#grid {
    display: inline-flex;
    flex-grow: column wrap;
    border-radius: 35px;
    border: 8px solid black;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    border: 1.5px solid white;
    border-radius: 30px;
    background-image: linear-gradient( to bottom, rgb(200, 200, 200), rgb(130, 130, 130), rgb(80, 80, 80), rgb(40, 40, 40));
}

.cell {
    width: 50px;
    height: 50px;
    padding: 2px;
}

.disc {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.black {
   background-image: linear-gradient( to bottom, rgb(200, 200, 200), rgb(130, 130, 130), rgb(80, 80, 80), rgb(40, 40, 40), black);
   box-shadow: inset -10px -10px 10px black, inset 2px 2px 5px black;
}

.red {
    background-image: linear-gradient( to bottom,  rgb(248, 166, 166), rgb(233, 92, 92), rgb(206, 51, 51), rgb(133, 22, 22), rgb(54, 0, 0));
    box-shadow: inset -10px -10px 10px #2b0606, inset 2px 2px 5px #410909;
}

.empate {
    background-image: linear-gradient( to bottom,  rgb(248, 166, 166), rgb(233, 92, 92), rgb(206, 51, 51), rgb(133, 22, 22), rgb(54, 0, 0));
    box-shadow: inset -10px -10px 10px #2b0606, inset 2px 2px 5px #410909; 
    
}

.mostruario{
    background-color: rgba(0, 0, 0, .25);
    border-radius: 25%;

    width: 200px;
    height: 200px;

    display: inline-block;
}

.jogador{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 25%;
}

#vitoria{
    margin: 0;
    padding: 3%;
}

button{
    margin-top: 2%;
    padding: 0.8rem;
    border-radius: 5px;
    border-style: none;
    background-color: lightblue;
    color: black;
    font-size: 1.3rem;
    font-weight: bolder;
    box-shadow: 2px 2px 5px black;

}

button:focus{
    outline: none;
    border-style: none;
}

button:hover {
    background-color: rgb(44, 167, 248);
}

